#stats {
  display: flex;
  align-items: center;
  flex-direction: row;

  position: absolute;
  top: 0;
  left: 0;
  
  background-color: #eeeeee;
  border-radius: 0 0 10px 0;

  padding: 10px;

  .img--country {
    width: 64px;
    height: 64px;
  }

  .info {
    display: flex;
    flex-direction: column;
  }
}