@import "variables";

body {
  margin: 0 auto;
  padding: 0;
  outline: 0;

  font-family: $font;
  
  // Disable highlight on mobile's when clicking
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

canvas {
  display: block;
}

.army--green {
  background-image: url("/res/sprites/army/green_big.png");
}

.army--purple {
  background-image: url("/res/sprites/army/purple_big.png");
}

.army--red {
  background-image: url("/res/sprites/army/red_big.png");
}

.army--yellow {
  background-image: url("/res/sprites/army/yellow_big.png");
}